body {
  font: 18px/1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  font-family: Public Sans;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: hsl(0, 0%, 100%);
  padding-top: 30px;
  min-height: 40px;
  border-bottom: #f3f0ef 3px solid;
  justify-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

button {
  height: 38px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-radius: 3em;
  margin: auto;
  cursor: pointer;
}
#navbar {
  display: none;
}
button:hover {
  filter: brightness(130%) grayscale(70%);
}

header a {
  text-decoration: none;
}

header a:hover {
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 5px solid;
  border-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: #81716c;
  margin-top: auto;
}
.navigation li {
  padding: 5px;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  padding-left: 4em;
}

.info {
  background-color: hsl(0, 0%, 98%);
  overflow: hidden;
  flex-direction: row;
  margin-bottom: -8em;
  width: 100%;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  padding-left: 50px;
  width: 30%;
  margin-top: -10em;
}

.heading {
  font-size: 46px;
  font-weight: lighter;
}
#para {
  color: #81716c;
  margin: -2em 0 1em 0;
}

.para {
  color: #81716c;
}

.rightside {
  display: flex;
  background: url("images/bg-intro-desktop.svg") no-repeat;
  width: 70%;
  background-size: 80em 60em;
  background-position: 0em -8em;
}
#mobImage {
  display: none;
}
#fimage {
  margin-top: -3em;
  margin-left: 9em;
  width: 90%;
}

.easybank {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f3f0ef;
  padding: 3em 7em;
}

#whyEasyBank {
  display: flex;
  column-gap: 3em;
}
.choice {
  width: 18%;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: #fcf9f8;
  width: 100%;
  flex-direction: column;
  padding: 3em 7em;
}
#articles {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}
.article1 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

article a {
  text-decoration: none;
  color: #686565;
}

article a:hover {
  color: rgb(138, 240, 184);
}
.article1 img {
  width: 90%;
  height: 12em;
}
.heading2 {
  color: #686565;
  font-size: 1em;
}

footer {
  display: flex;
  background: rgb(31, 31, 73);
  padding-top: 30px;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: rgb(97, 228, 210);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5em;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 3em;
 }

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  padding-left: 2em;
}

.c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#resevered {
  color: #c7c1c0;
}
.fnavigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  color: #f3f0ef;
  margin-top: auto;
  row-gap: 1em;
}

#navbar {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#navbar div {
  width: 35px;
  height: 3px;
  background-color: hsl(233, 8%, 62%);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar-2 {
  opacity: 0;
}

.open .bar-3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  display: none;
  position: absolute;
  top: 100px;
  background-color: white;
  padding: 10px;
  left: 5%;
  right: 5%;
  height: calc(100vh - 50ph);
  width: 85%;
  list-style: none;
}

.menu li a {
  color: #686565;
}

.menu li {
  margin-bottom: 10px;
}

.mobile-view {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header .nav,
  header button {
    display: none;
  }

  #navbar {
    display: block;
  }

  header {
    width: 100%;
    max-height: 1em;
    align-items: center;
  }

  .info {
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .rightside {
    display: none;
  }

  .mobile-view {
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
  }

  .mobile-view img {
    width: 100%;
    object-position: 0 -6.5em;
  }

  .leftside {
    padding: 0 6em;
    width: 100%;
    margin-top: -5em;
    margin-bottom: 10em;
  }

  .easybank {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .easybankheading {
    padding: 0 2em;
  }

  #whyEasyBank {
    flex-direction: column;
  }

  .choice {
    width: 100%;
    margin-top: 3em;
  }

  .article {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  #articles {
    flex-direction: column;
  }

  .article1 {
    width: 100%;
  }

  .article1 .para {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    text-align: left;
  }

  .article1 .heading2 {
    font-size: 1em;
    padding: 0 10%;
    text-align: left;
  }

  footer {
    background-color: rgb(31, 31, 73);
    padding: 2em 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  footer .logo {
    row-gap: 2em;
    margin-left: 2em ;
  }
  footer .left {
    row-gap: 2em;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .left .social {
    column-gap: 2em;
  }

  footer .left .c1 {
    margin-bottom: -2em;
    padding-left: 5em;
  }
  footer .left .c2{
    padding-left: 5em;
  }

  footer .left .fnavigation {
    padding: 0;
  }
  footer .right {
    margin-top: 1em;
  }
footer .logo #logoImage {
  margin-left: 2em;
}

  footer .logo img {
    margin-top: 1em;
    
  }
}

